.name{
    margin-top:30px;
    background-color:rgba(0,0,0,0.3);
    height:40px;
    border-radius:10px;
}
.top{
    display:flex;
    justify-content:space-around;
    .icon{
        background-color:rgba(0,0,0,0.3);
        border-radius:10px;
    }
    .main{
        font-size:36px;
        font-weight:bold;
    }
    .temperature{
        font-size:120px;
        font-weight:bold;
    }
}
.middle{
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin-top:20px;
    div{
        height:50px;
        width:110px;
        background-color:rgba(0,0,0,0.3);
        border-radius: 10px;
    }
    span{
        font-weight:bold;
    }
}
.bottom{
    margin-top:30px;
    height: 60px;
    padding: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.3);
    font-size:25px;
    span{
        font-weight:bold;
    }
}